* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

#home {
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    color: white;
    font-size: 22px;
}

header ul {
    float: right;
    background-color: transparent;
    backdrop-filter: blur(50px);
    margin-top: 75px;
    font-family: sans-serif;
}

header ul li {
    margin: 10px -15px;
    padding: 30px 50px;
    display: inline-block;
}

header ul li:last-child {
    padding-right: 350px;
}

header ul li:first-child {
    padding-left: 160px;
}

#indicie {
    margin-left: -40px;
    font-weight: bold;
}

#sumario {
    margin-top: -25px;
    color: lightgrey;
    
}

hr {
    margin-top: -25px;
    border: 1px solid rgba(211, 211, 211, 0.418);
    margin-left: 150px;
}

#logo {
    padding-top: 100px;
    padding-left: 50px;
}

main h1 {
    color: lightgray;
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 50px;
    margin-top: 300px;
    margin-left: 300px;
}

#espaco {
    font-size: 150px;
    margin-left: 320px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-bottom: 20px;
}

#conteudoPrincipal {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    margin-left: 320px;
    width: 500px;
    color: lightgray;
    text-align: justify;
}

#explorar {
    float: right;
    font-size: 50px;
    padding: 90px 0px 90px 0px;
    margin-right: 300px;
    margin-top: -200px;
    border-radius: 360px;
    border: 0px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

#destinos {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#sumarioDestinoTitulo {
    font-size: 50px;
    color: rgba(211, 211, 211, 0.705);
    padding-top: 100px;
    padding-left: 200px;
}

#tituloPrincipalDestino {
    font-size: 50px;
    margin-top: -60px;
    margin-left: 260px;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    color: white;
}

#marte, #Lua, #Europa, #Titan {
    margin-top: 100px;
    margin-left: 300px;
}

#sumarioDestino {
    width: 900px;
    float: right;
    margin-top: -550px;
    margin-left: 0px;
    color: lightgray;
}

#nomeDosDestino, #nomeDosDestinoLua, #nomeDosDestinoEuropa, #nomeDosDestinoTitan {
    font-size: 30px;
}

#nomeDosDestino ul li, #nomeDosDestinoLua ul li, #nomeDosDestinoEuropa ul li, #nomeDosDestinoTitan ul li {
    display: inline-block;
    margin: 20px;
    margin-top: 100px;
}

#nomeDosDestino ul li:last-child{
    margin-right: 400px;
}

#tituloMarte, #tituloLua, #tituloEuropa, #tituloTitan {
    font-size: 120px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 25px;
    margin-left: 30px;
}

#descricaoParaMarte, #descricaoParaLua, #descricaoParaEuropa, #descricaoParaTitan {
    font-size: 30px;
    width: 600px;
    text-align: justify;
    margin-left: 25px;
}

#linhaDeMarte, #linhaDeLua, #linhaDeEuropa, #linhaDeTitan {
    margin-top: 50px;
    margin-left: 25px;
    width: 600px;
}

#distanciaMarte, #distanciaLua, #distanciaEuropa, #distanciaTitan {
    font-size: 25px;
    margin-left: 25px;
    margin-top: 20px;
    font-family: sans-serif;
}

#numeroDistanciaMarte, #numeroDistanciaLua, #numeroDistanciaEuropa, #numeroDistanciaTitan {
    font-size: 32px;
    margin-left: 25px;
    margin-top: 10px;
    font-family: sans-serif;
    color: white;
}

#TempoParaMarte, #TempoParaLua, #TempoParaEuropa, #TempoParaTitan {
    font-size: 25px;
    margin-left: 320px;
    margin-top: -77px;
    font-family: sans-serif;
}

#tempoMarte, #tempoLua, #tempoEuropa, #tempoTitan {
    font-size: 32px;
    margin-left: 420px;
    margin-top: 10px;
    font-family: sans-serif;
    color: white;

}

#LuaCabecalho, #EuropaCabecalho, #TitanCabecalho {
    margin-top: 149px;
}

#destinos1 {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -148px;
}

#conteudoTripulacao {
    margin-top: -200px;
}

#tituloConteudoTripulacao {
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    color: lightgray;
    margin-left: 190px;
}

#palavraGrandeConteudoTripulacao {
    font-size: 100px;
    color: white;
    margin-left: 200px;
    font-family: 'Courier New', Courier, monospace;
}

#continuacaoTextoConteudoTripulacao {
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    color: lightgray;
    width: 600px;
    text-align: justify;
    margin-left: 200px;
}

#engenheiraImg, #comandanteImg, #pilotoImg {
    float: right;
    margin-top: -508px;
    margin-right: 150px;
}

#comandanteImg {
    margin-top: -608px;
}

#pilotoImg {
    margin-top: -604px;
}

#botoesTripulacao {
    margin-left: 350px;
    margin-top: 50px;
}

#botoesTripulacao ul {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

.tripulacaoMembros {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    border-radius: 360px;
}

#fundoBotaoTripulacao {
    background-color: rgb(100, 104, 94);
}

#tripulacaoCabecalho {
    float: right;
    margin-left: 300px;
}

#tripulacaoCabecalho1 {
    float: right;
    margin-right: -665px;
}

#tripulacao1 {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
